/* ~~~ Colors ~~~ */

:root {
  --bg-color: hsla(160, 20%, 99%, 1);
  --text-color: hsla(0, 0%, 10%, 1);
  --text-color-lighter: hsla(0, 0%, 50%, 1);
  --accent-lighter-blue: hsla(230, 44%, 60%, 1);
  --accent-blue: hsla(230, 44%, 45%, 1);
}


/* ~~~ Fonts ~~~ */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ~~~ Global Styles ~~~ */

* {
  /* Resets */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Global Styles */
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.45em;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

/* ~~~ Styles ~~~ */

/* Navigation Bar */
nav {
  padding: 2vh 0;
  align-items: center;
  display: flex;
}

h1 {
  display: inline;
  font-size: 1.75em;
}

nav ul {
  float: right;
  margin-left: auto;
}

nav ul li {
  display: inline-flex;
  list-style-type: none;
  padding: 0 10px;
}


/* Main Content */
h2 {
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 1.3em;
}

a {
  color: var(--accent-blue);
  transition: all 0.3s ease 0s;
}

a:visited {
  color: var(--accent-blue);
}

a:hover {
  color: var(--accent-lighter-blue);
  cursor: pointer;
}

/* John Cena */
.john-cena-container {
  float: right;
  margin-left: 5vh;
}

.john-cena {
  border-radius: 15px;
}

figcaption {
  font-size: 0.8em;
  color: var(--text-color-lighter);
  text-align: center;
}

/* Skill Logo Styling */
.skill-logos * {
  height: 50px;
  width: 50px;
}
