/* ~~~ Colors ~~~ */

:root {
  --bg-color: hsla()
  --text-color: hsla()
}


/* ~~~ Fonts ~~~ */



/* ~~~ Global Styles ~~~ */

* {
  /* Resets */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Global Styles */
  background-color: var(--bg-color);
}

/* ~~~ Grid ~~~ */
body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
}

body * {
  grid-column: 2;
}

/* ~~~ Styles ~~~ */

/* Navigation Bar */
nav {
  padding: 2vh 0;
  align-items: center;
  display: flex;
}

h1 {
  display: inline;
}

nav ul {
  float: right;
  margin-left: auto;
}

nav ul li {
  display: inline-flex;
  list-style-type: none;
  padding: 0 10px;
}


/* Main Content */
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}


/* John Cena Image */
.John-Cena {
  border-radius: 15px;
}

/* Skill Logo Styling */
.skill-logos * {
  height: 50px;
  width: 50px;
}