/* ~~~ Colors ~~~ */

:root {
  --bg-color: hsla(160, 20%, 99%, 1);
  --text-color: hsla(0, 0%, 10%, 1);
  --text-color-lighter: hsla(0, 0%, 50%, 1);
}


/* ~~~ Fonts ~~~ */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ~~~ Global Styles ~~~ */

* {
  /* Resets */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Global Styles */
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ~~~ Grid ~~~ */
body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
}

body * {
  grid-column: 2;
}

/* ~~~ Styles ~~~ */

/* Navigation Bar */
nav {
  padding: 2vh 0;
  align-items: center;
  display: flex;
}

h1 {
  display: inline;
}

nav ul {
  float: right;
  margin-left: auto;
}

nav ul li {
  display: inline-flex;
  list-style-type: none;
  padding: 0 10px;
}


/* Main Content */
h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* John Cena */
.john-cena-container {
  float: right;
  margin-left: 20px;
}

.john-cena {
  border-radius: 15px;
}

figcaption {
  font-size: 0.8em;
  color: var(--text-color-lighter);
  text-align: center;
}

/* Skill Logo Styling */
.skill-logos * {
  height: 50px;
  width: 50px;
}